<h1>Vissualisation</h1>

<form action="/api" method="post">
    <label for="">doorStatus</label>
    <select name="doorStatus">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <label for="">redLed</label>
    <select name="redLed">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <label for="">greenLed</label>
    <select name="greenLed">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <label for="">orangeLed</label>
    <select name="orangeLed">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <label for="">alarmstatus</label>
    <select name="alarmstatus">
        <option value="true">ON</option>
        <option value="false">OFF</option>
    </select>
    <button type="submit">
        Update
    </button>
</form>
