<section class="settings">
    <div class="slider"></div>

    <section class="shadow resposive">
      <header>
        <h1>History</h1>
      <p>
        This is a graph of the last 20 changes from the door.
      </p>
      </header>
      <div id="chart"></div>
    </section>
</section>
