<h1>Vissualisation</h1>

<form action="/api" method="post">
    <label for="">doorStatus</label>
    <select name="doorStatus">
        <option value="1">Open</option>
        <option value="0">Close</option>
    </select>
    <button type="submit">
        Update
    </button>
</form>
