<section class="slider">
    <section>
        <h1>Close the door</h1>
        <small>A stop behind closing the door</small>
    </section>
</section>
<section class="doorstatus {{status}}">
    <section>
        {{#if data.red}}
            <h2>Warning your door is open!</h2>
            <small>Opend {{timeAgo}}</small>
        {{/if}}
        {{#if data.orange}}
            <h2>Your door is open</h2>
            <small>Opend {{timeAgo}}</small>
        {{/if}}
        {{#if data.green}}
            <h2>Your door is closed</h2>
            <small>Closed {{timeAgo}}</small>

        {{/if}}
    </section>
</section>
